= "Hey #{@email},"
br
p.title Thanks for signing up to dinner.works!
br
div We're building a platform for online food deliveries for the restaurant industry.
div Our vision is that no person should go to sleep hungry, and together we can accomplish that.
div Through the use of our platform, a percentage of every transaction will go towards feeding someone today.
div Our platform is still under development, but you'll be notified once its launched.
