= "Hey #{@email},"

p.title Thanks for signing up to dinner.works!
div Nobody should go to sleep hungry.
br
div We're building a platform designed for online food orders and deliveries for the restaurant industry.
div Through this platform, and by working together, our vision of helping those in need can be achieved.
div A percentage of every transaction will go towards filling a hungry persons tummy.
div Our platform is still under development, but we will notify you once it has launched.
br
div Interested in our vision? Get your friends to sign up too, the more the merrier.
div #{link_to(new_registration_url, new_registration_url)}
br
div We hope to see you online soon!
